@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #21243d;
  font-family: Heebo;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

._container {
  margin: 0 auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=_container] {
  margin: 0 auto;
  max-width: 53.5rem;
  box-sizing: content-box;
}
@media (max-width: 54.125em) {
  [class*=_container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.99875em) {
  [class*=_container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=_container] {
    max-width: none;
    padding: 0 0.3125rem;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header__content {
  max-width: 1052px;
  padding: 0px 10px;
  align-items: center;
  margin: 0 auto;
}

.header__menu {
  height: 82px;
  padding: 10px 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 61.99875em) {
  .header__menu {
    height: 50px;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 60px 10px 0px 10px;
  }
  .menu__body._active {
    transition: transform 0.8s ease 0s;
    transform: translate(0px, 0%);
  }
}
.menu__list li {
  margin: 0px 0px 30px 0px;
}
.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}
@media (min-width: 61.99875em) {
  .menu__list {
    display: flex;
  }
  .menu__list li {
    margin: 0px 33px 0px 0px;
  }
}
.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #ff6464;
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  padding: 0px 0px 0px 0px;
}
@media (max-width: 47.99875em) {
  .page {
    padding: 30px 0px 0px 0px;
  }
}

.grey__header {
  display: inline-block;
  height: 400px;
  width: 300px;
  background-color: #f4f4f4;
}

.logo_1 {
  position: relative;
  display: inline-block;
  margin: 100px 200px 0px 0px;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.image__shift {
  z-index: 5;
  position: relative;
}

.image__shift img {
  height: 400px;
  position: relative;
  left: 200px;
  top: 150px;
}

.image__shift::before {
  z-index: 6;
  width: 1300px;
  content: "";
  left: 400px;
  top: 400px;
  position: absolute;
  height: 0.125rem;
  background-color: #000;
}

.image__shift::after {
  z-index: 6;
  width: 0.125rem;
  content: "";
  left: 700px;
  top: 0px;
  position: absolute;
  height: 800px;
  background-color: #000;
}

.proposal__part {
  height: 700px;
  background-color: #cb4348;
  margin: 500px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.text_part {
  margin: 150px 0px 0px 200px;
  display: flex;
  flex-direction: column;
}

.proposal__first-row {
  font-size: 60px;
  color: #fff;
  margin: 30px 0px 30px 0px;
  font-weight: 400;
}

.proposal__second-row {
  font-size: 60px;
  margin: 0px 0px 30px 0px;
  font-weight: 700;
  letter-spacing: 3px;
}

.proposal__third-row {
  font-size: 60px;
  margin: 0px 0px 30px 0px;
  font-weight: 700;
  letter-spacing: 3px;
}

.image_part {
  position: relative;
  z-index: 9;
  margin-top: -300px;
}

.image_part img {
  border-left: 50px solid #FFF;
  border-bottom: 50px solid #FFF;
  height: 800px;
}

.image_part::before {
  content: "";
  left: 0px;
  top: -100px;
  position: absolute;
  width: 750px;
  height: 50px;
  background-color: #f4f4f4;
  z-index: 10;
}

.image_part::after {
  content: "";
  left: -50px;
  top: -100px;
  position: absolute;
  width: 50px;
  height: 350px;
  background-color: #f4f4f4;
  z-index: 10;
}

.contact_part {
  padding-left: 300px;
  display: flex;
}

.address__column p {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}

.column__title {
  margin: 100px 0px 0px 0px;
  font-size: 20px;
  font-weight: 700;
}

.contact__column {
  margin-left: 130px;
}

.contact__column p {
  margin: 10px 0px 0px 0px;
  font-size: 20px;
}

.art__column img {
  height: 300px;
}

.art__column {
  justify-self: right;
  margin-left: 500px;
}
